body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

table {
  color: white;
  border: 2px dotted white;
}

table td {
  padding: 10px;
  border: 1px solid white;
}

#pagination {
  display: flex;
  padding: 0;
  list-style: none;
}

​​#pagination {
  display: flex;
  padding: 0;
  list-style: none;
}

#pagination li {
  margin-right: 5px;
  padding: 10px;
  border: 1px solid black;
}

#pagination li:hover,
#pagination li:active {
  cursor: pointer;
  background-color: grey;
  border: 1px solid black;
}
