* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  text-shadow: 4px 2px 2px white;
}

h1 {
  background-image: url(https://media.giphy.com/media/XBiYKaSGFg7dt7rS82/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  background-position-y: -7px;
  display: flex;
  align-items: center;
}

body {
  background-color: rgb(195, 236, 240);
  font-size: 20px;
}

.header {
  height: 100px;
  background-color: #69cc9c;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#result {
  display: flex;
  justify-content: center;
  color: rgb(4, 68, 4);
  font-size: 25px;
}

.result {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background: radial-gradient(#c3ecf0, #69cc9c);
}

.about_film {
  list-style: none;
  margin-left: 25px;
}

.about_film li {
  padding: 10px;
}

.nothing_write {
  box-shadow: 0px 0px 3px 1px red;
  background-color: rgb(250, 198, 198);
}

.rating {
  display: flex;
}

.nav {
  display: flex;
}

.nav > li {
  padding: 0px 20px;
}

.bold {
  font-weight: bold;
  list-style: none;
  font-size: 22px;
  text-decoration: underline;
}

.not_found {
  width: 500px;
  height: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffbebe;
  margin: 100px;
  color: green;
  text-align: center;
}

#search {
  outline: none;
  width: 200px;
  height: 33px;
  border: none;
  padding: 10px;
}

#search_btn {
  width: 100px;
  padding: 10px;
  border-radius: 12px;
  outline: none;
  border: none;
}

.content {
  margin-top: 70px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.toast {
  position: fixed;
  width: 20vw;
  left: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 15px 3px black;
  background-color: grey;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin: 1vw;
  width: 25vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px 5px black;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 25vw;
  height: 40vh;
}

.full {
  position: fixed;
  left: 25vw;
  top: 10vh;
  width: 55vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 15px 6px black;
  background: white;
  z-index: 4;
}

.full img {
  width: 25vw;
  height: 70vh;
}

.full section {
  width: 30vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full section p {
  margin: 1vw;
}

.full section button {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
}

@keyframes append {
  from {
    opacity: 0;
    top: 50vh;
  }

  to {
    opacity: 1;
    top: 20vh;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    top: 20vh;
  }

  to {
    opacity: 0;
    top: 5vh;
  }
}
